body {
  background-image: url("https://thumbs.gfycat.com/UnrealisticHopefulEquine-max-1mb.gif");
  background-size: cover;
  text-align: center;
  font-family: 'Lato', sans-serif;
}


button {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  margin: 3px;
  padding: 13px;
  border-radius: 5%;
  box-shadow: 10px;
  background-color: rgba(91, 63, 191, 0.21);
  border: 2px solid rgba(91, 63, 191, 0.36);
}

button:hover {
  background-color: rgba(91, 63, 191, 0.50);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  font-size: 140px;
}

input {
  font-size: 18px;
  padding: 22px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(91, 63, 191, 0.21);
  border: 2px solid rgba(91, 63, 191, 0.36);
  border-radius: 5%;
}
